#Ignoring log, database files (to keep data from showing up online)
*.log
*.db

# Ignoring jekyll files
*.sass-cache
*.jekyll-metadata

#Ignoring archive folders:
/archive/*
/EmailDrafts/*

# Ignoring literal website
WebsiteSetup/_site

# Dont' pick up password
password
client_secret.json
