---
layout: default
---

<div class="home">

    <p> The University of Michigan (PhD student) Summer Seminar in Economics meets from 11:30 am to 1 pm on Mondays, Wednesdays, and Fridays during the summer. </p>

    <p> Generally, we plan to meet in Lorch 201, but we will let you know here and via email when we will have to meet in other places. Look for the entry when you click on a talk and our announcement message to the mailing list (did we mention that you should email us to be a part of the list?). </p>

    <p> We have some really cool economics to talk about, presented by economics PhD students at the University of Michigan, so we hope you will come. </p>


  <h1 class="page-heading">Upcoming seminars</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
